//.MuiTab-wrapper{
//  font-size: 16px;
//  font-weight: bolder;
//  color:#FFAA00;
//}
//.PrivateTabIndicator-colorPrimary-63{
//  background-color: #FFAA00 !important;
//}
//.PrivateTabIndicator-colorPrimary-170{
//  background-color: #FFAA00 !important;
//}
//.PrivateTabIndicator-colorPrimary-277{
//  background-color: #FFAA00 !important;
//}
//.PrivateTabIndicator-colorPrimary{
//  span{
//    background-color: #FFAA00 !important;
//  }
//}
//.MuiAppBar-colorDefault{
//  background:white !important;
//  box-shadow: none !important;
//}
//.yours{
//  box-shadow: 0 0 8px 0  rgba(0,0,0,.4);
//  border-radius: 5px;
//  margin: 0 auto;
//  padding: 20px;
//  display: flex;
//  margin-bottom: 25px;
//  justify-content: space-between;
//  width: 90%;
//
  .btnedita{
    font-size: larger;
    color: #42ec0a;

  }
//
//  img{
//    width: 25%;
//  }
//}
//.antitle{
//  flex: 1;
//  p{
//    font-size: 20px;
//    font-weight: bolder;
//  }
//  span{
//    font-size: 15px;
//  }
//}
//.imgan{
//  margin-right: 20px;
//}
//.anns{
//  margin-top: 50px;
//  width: 90%;
//}


.yor > .MuiSvgIcon-root{
  font-size: xx-large !important;
}
.adver{
  box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
  margin-top: 50px;
  button{
        margin-top: 40px;
        height: 2%;
        font-size: 15px;
        padding: 5px;
        letter-spacing: 2px;
        font-weight: bolder;
        border: none;
        border-radius: 5px;
        background-color: white;

      }

  .indiv{
    display: flex;
    padding: 10px;
    align-self: center;


    .adstitle{
      margin-left: 20px;
    }
    .knpk{
      display: flex;
      margin-bottom: 20px;

    }
    p{
      font-size: 30px;
      font-weight: bolder;
    }
    span{
      font-size: 18px;

    }
    img{
      width: 25%;
      height: 180px;
    }
  }
}
.mej{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.load_more{
  text-align: center;
  button{
    margin-top: 50px;
    padding: 5px 10px 10px 10px;
    border: none;
    background: #FFAA00;
    color:white;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
  }
}